PORT=3000
MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/uttam_portfolio?retryWrites=true&w=majority
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=uttam@2026
JWT_SECRET=PASTE_A_LONG_RANDOM_SECRET_HERE
